---
http_interactions:
- request:
    method: get
    uri: https://api.seatgeek.com/2/events?client_id=NjQyNzQ0OXwxNDgxNzU2NDMx&client_secret=m6Gn7Tpot7jHAo5-yRAFHU6j76EB2scp13RfTHSs&datetime_utc.gte=2016-12-15&venue.city=boston
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"656d242a5aef732d233a2844fe647a1db146b81e"'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"per_page":10,"total":1181,"page":1,"took":3,"geolocation":null},"in_hand":{},"events":[{"links":[],"id":3517153,"stats":{"listing_count":1,"average_price":39.0,"lowest_price_good_deals":null,"lowest_price":39.0,"highest_price":39.0},"title":"Street
        Dogs with Darkbuster","announce_date":"2016-09-13T00:00:00","score":0.410495,"date_tbd":false,"type":"concert","datetime_local":"2016-12-16T18:00:00","visible_until_utc":"2016-12-17T03:00:00","time_tbd":false,"taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"performers":[{"image":"https:\/\/chairnerd.global.ssl.fastly.net\/images\/performers-landscape\/street-dogs-9e4b46\/1707\/huge.jpg","primary":true,"colors":null,"images":{"huge":"https:\/\/chairnerd.global.ssl.fastly.net\/images\/performers-landscape\/street-dogs-9e4b46\/1707\/huge.jpg"},"has_upcoming_events":true,"id":1707,"genres":[{"id":452,"slug":"pop","name":"Pop","primary":false},{"id":456,"slug":"rock","name":"Rock","primary":true},{"id":461,"slug":"punk","name":"Punk","primary":false}],"stats":{"event_count":3},"image_license":null,"score":0.348906,"taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"type":"band","short_name":"Street
        Dogs","home_venue_id":null,"slug":"street-dogs","divisions":null,"name":"Street
        Dogs","url":"https:\/\/seatgeek.com\/street-dogs-tickets","image_attribution":null},{"image":null,"colors":null,"images":{},"has_upcoming_events":true,"id":192101,"genres":[{"id":456,"slug":"rock","name":"Rock","primary":false},{"id":457,"slug":"alternative","name":"Alternative","primary":true},{"id":461,"slug":"punk","name":"Punk","primary":false}],"stats":{"event_count":2},"image_license":null,"score":0.48973,"taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"type":"band","short_name":"Darkbuster","home_venue_id":null,"slug":"darkbuster","divisions":null,"name":"Darkbuster","url":"https:\/\/seatgeek.com\/darkbuster-tickets","image_attribution":null}],"url":"https:\/\/seatgeek.com\/street-dogs-with-darkbuster-tickets\/boston-massachusetts-brighton-music-hall-2016-12-16-6-pm\/concert\/3517153","created_at":"2016-09-13T00:00:00","venue":{"city":"Boston","name":"Brighton
        Music Hall","extended_address":"Boston, MA 02134","url":"https:\/\/seatgeek.com\/venues\/brighton-music-hall\/tickets","country":"US","display_location":"Boston,
        MA","links":[],"slug":"brighton-music-hall","state":"MA","score":0.481129,"postal_code":"02134","location":{"lat":42.3529,"lon":-71.1326},"address":"158
        Brighton Avenue","timezone":"America\/New_York","id":1446},"short_title":"Street
        Dogs with Darkbuster","datetime_utc":"2016-12-16T23:00:00","general_admission":true,"datetime_tbd":false},{"links":[],"id":3610511,"stats":{"listing_count":null,"average_price":null,"lowest_price_good_deals":null,"lowest_price":null,"highest_price":null},"title":"Chadwick
        Stokes","announce_date":"2016-11-17T00:00:00","score":0.410028,"date_tbd":false,"type":"concert","datetime_local":"2016-12-16T19:00:00","visible_until_utc":"2016-12-17T04:00:00","time_tbd":false,"taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"performers":[{"image":null,"primary":true,"colors":null,"i[...]
