---
http_interactions:
- request:
    method: get
    uri: https://api.nytimes.com/svc/search/v2/articlesearch.json?api-key=90833ef9f3494d1688bcf9ba765417d8&begin_date=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: nginx/1.10.2
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Limit-Second:
      - '1'
      X-Ratelimit-Remaining-Day:
      - '991'
      X-Ratelimit-Remaining-Second:
      - '0'
    body:
      encoding: UTF-8
      string: '{"status":"ERROR","copyright":"Copyright (c) 2013 The New York Times
        Company.  All Rights Reserved.","errors":["Parameter <begin_date> value failed
        to match validation rule:: <<\/^\\d{8}$\/>>"],"results":[]}'
  recorded_at: Thu, 15 Dec 2016 20:08:11 GMT
- request:
    method: get
    uri: https://api.nytimes.com/svc/search/v2/articlesearch.json?api-key=90833ef9f3494d1688bcf9ba765417d8&begin_date=20161215
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Limit-Second:
      - '1'
      X-Ratelimit-Remaining-Day:
      - '990'
      X-Ratelimit-Remaining-Second:
      - '0'
    body:
      encoding: UTF-8
      string: '{"response":{"meta":{"hits":808,"time":42,"offset":0},"docs":[{"web_url":"http:\/\/www.nytimes.com\/aponline\/2016\/12\/15\/us\/ap-us-no-new-casino-vegas.html","snippet":"An
        Australian company says it won''t proceed with a project for a 1,100-room
        hotel-casino on the Las Vegas Strip....","lead_paragraph":"An Australian company
        says it won''t proceed with a project for a 1,100-room hotel-casino on the
        Las Vegas Strip.","abstract":null,"print_page":null,"blog":[],"source":"AP","multimedia":[],"headline":{"main":"Australian
        Company Won''t Proceed With Vegas Strip Resort","print_headline":"Australian
        Company Won''t Proceed With Vegas Strip Resort"},"keywords":[],"pub_date":"2016-12-15T20:06:44+0000","document_type":"article","news_desk":null,"section_name":"U.S.","subsection_name":null,"byline":{"person":[],"original":"By
        THE ASSOCIATED PRESS","organization":"THE ASSOCIATED PRESS"},"type_of_material":"News","_id":"5852f7db95d0e039260763f5","word_count":"133","slideshow_credits":null},{"web_url":"http:\/\/www.nytimes.com\/reuters\/2016\/12\/15\/world\/middleeast\/15reuters-mideast-crisis-syria-kerry.html","snippet":"U.S.
        Secretary of State John Kerry said on Thursday that the government of Syrian
        President Bashar al-Assad is carrying out \"nothing short of a massacre\"
        in Aleppo....","lead_paragraph":"U.S. Secretary of State John Kerry said on
        Thursday that the government of Syrian President Bashar al-Assad is carrying
        out \"nothi[...]
[...]
- request:
    method: get
    uri: https://api.nytimes.com/svc/search/v2/articlesearch.json?api-key=90833ef9f3494d1688bcf9ba765417d8&begin_date=20161215
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Limit-Second:
      - '1'
      X-Ratelimit-Remaining-Day:
      - '988'
      X-Ratelimit-Remaining-Second:
      - '0'
    body:
      encoding: UTF-8
      string: '{"response":{"meta":{"hits":814,"time":24,"offset":0},"docs":[{"web_url":"http:\/\/www.nytimes.com\/video\/world\/middleeast\/100000004824389\/countries-showing-solidarity-with-aleppo.html","snippet":"Demonstrations
        were held in several countries this week against the Syrian government and
        in solidarity with rebels and civilians trapped in eastern Aleppo....","lead_paragraph":"Demonstrations
        were held in several countries this week against the Syrian government and
        in solidarity with rebels and civilians trapped in eastern Aleppo.","abstract":null,"print_page":null,"blog":[],"source":"Reuters","multimedia":[{"width":190,"url":"images\/2016\/12\/16\/world\/16SOLIDARITY-VIDEO\/16SOLIDARITY-VIDEO-thumbWide.jpg","height":126,"subtype":"wide","legacy":{"wide":"images\/2016\/12\/16\/world\/16SOLIDARITY-VIDEO\/16SOLIDARITY-VIDEO-thumbWide.jpg","wideheight":"126","widewidth":"190"},"type":"image"},{"width":600,"url":"images\/2016\/12\/16\/world\/16SOLIDARITY-VIDEO\/16SOLIDARITY-VIDEO-articleLarge.jpg","height":392,"subtype":"xlarge","legacy":{"xlargewidth":"600","xlarge":"images\/2016\/12\/16\/world\/16SOLIDARITY-VIDEO\/16SOLIDARITY-VIDEO-articleLarge.jpg","xlargeheight":"392"},"type":"image"},{"width":75,"url":"images\/2016\/12\/16\/world\/16SOLIDARITY-VIDEO\/16SOLIDARITY-VIDEO-thumbStandard.jpg","height":75,"subtype":"thumbnail","legacy":{"thumbnailheight":"75","thumbnail":"images\/2016\/12\/16\/world\/16SOLIDARITY-VIDEO\/16SOLIDARITY-VIDEO-thumbStandard.jpg","thumbnailwidth":"75"},"type":"image"}],"headline":{"main":"Countries
        Showing Solidarity With Aleppo"},"keywords":[{"rank":"1","is_major":"N","name":"glocations","value":"Aleppo
        (Syria)"},{"rank":"2","is_major":"N","name":"subject","value":"Demonstrations,
        Protests and Riots"},{"rank":"3","is_major":"N","name":"subject","value":"Politics
        and Government"}],"pub_date":"2016-12-15T20:13:19+0000","document_type":"multimedia","news_desk":"World
        \/ Middle East","section_name":"World","subsection_name":"Middle East","byline":{"person":[{"organization":"","role":"reported","firstname":"Camilla","rank":1,"lastname":"SCHICK"}],"original":"By
        CAMILLA SCHICK"},"type_of_material":null,"_id":"5852f97695d0e039260763fb","word_count":"23","slideshow_credits":null},{"web_url":"http:\/\/www.nytimes.com\/aponline\/2016\/12\/15\/world\/middleeast\/ap-un-united-nations-conflict-children.html","snippet":"Former
        British Prime Minister Gordon Brown on Thursday called for a \"new deal\"
        for children in conflict zones around the globe, saying not since the end
        of World War II have so many chi[...]
[...]
