<h1>Grocery List</h1>

<div id="main"></div>
<form>
  <label for="grocery_name">Name</label>
  <input type="text" name="name" id="grocery_name">
  <label for="grocery_quantity">Quantity</label>
  <input type="text" name="quantity" id="grocery_quantity">
  <input type="submit" value="Add">
</form>
