<h1>Search</h1>
<form action='/search/:queries' method="get">
  <label for="first_name">First Name:</label>
  <input type="text" id="first_name" name="first_name" >
  <br>
  <label for="last_name">Last Name:</label>
  <input type="text" id="last_name" name="last_name" >
  <br>
  <input type="submit">
</form>
<p><a href='/'>Index</a></p>
<p><a href='/contacts'>Pages</a></p>
<p><a href='/add'>Add</a></p>
<p><a href='/delete'>Delete</a></p>
