<div class="small-6 small-offset-3 columns">

  <div class="callout primary">
    <h3>Weather</h3>
    <p>
      The Weather is <%= @weather.summary %><br>
      It Currently is <%= @weather.temp %>°F
    </p>
  </div>
</div>
