---
http_interactions:
- request:
    method: get
    uri: http://freegeoip.net/json/8.8.8.8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Database-Date:
      - Thu, 08 Dec 2016 03:29:58 GMT
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9957'
      X-Ratelimit-Reset:
      - '1370'
    body:
      encoding: UTF-8
      string: '{"ip":"8.8.8.8","country_code":"US","country_name":"United States","region_code":"CA","region_name":"California","city":"Mountain
        View","zip_code":"94035","time_zone":"America/Los_Angeles","latitude":37.386,"longitude":-122.0838,"metro_code":807}

'
  recorded_at: Thu, 15 Dec 2016 17:15:12 GMT
recorded_with: VCR 2.5.0
